.quiz-screen__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw; /*prevents overflow on small screens*/
    align-items: flex-start;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 4vw;
}

@media (min-width: 600px) {
    .quiz-screen__form {
        max-width: 750px;
        font-size: 1rem;
        padding: 0 1rem;
    }
}

.quiz-screen__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
    margin-block: .75rem; /*adjust*/
    padding-top: 2rem;
}

.quiz-screen__warning {
  color: #c62828;
  background: #fff3e0;
  border: 1px solid #ffd54f;
  padding: 0.5em 1em;
  border-radius: 10px;
  font-weight: 700;
  font-size: .875rem;
}

@media (min-width: 600px) {
    .quiz-screen__warning {
        font-size: 1rem;
    }
}

.quiz-screen__action-btn,
.quiz-screen__return-btn {
    border-radius: 10px;
    font-size: .625rem;
    padding: .4em 1em;
    font-weight: 600;
}

.quiz-screen__return-btn {
    background-color: #ffe082;
    color: #333;
    border: 1px solid #ffd54f;
}


@media (min-width: 600px) {
    .quiz-screen__action-btn,
    .quiz-screen__return-btn  {
        font-size: 1rem;
        padding: .85rem 2.5rem;
    } 
}
.quiz-screen__results-text {
        font-size: 1rem;
        font-weight: 700;
}

@media (min-width: 600px) {
   .quiz-screen__results-text {
        font-size: 1.25rem;
    }
}