.question__legend {
    padding-top: 1rem; /*adjust*/
}

.question__fieldset {
    border: none;
    margin-block: 0 1.5rem; /*adjust*/
    border-bottom: 1px solid #dbdef0;
    padding-top: 1.25rem; /*adjust*/
    padding-bottom: 1.5rem; /*adjust*/
    width: 100%;
    max-width: 100%;
    text-align: left;
    margin: 0;
}

.question__answer-label {
    display: inline-block;
    padding: .6em 1.25em; 
    cursor: pointer;
    border: .8px solid #4d5b9e;
    border-radius: 7px;
    opacity: .5;
    font-size: .625rem; 
    transition: background-color 0.2s, opacity 0.2s;
}

.question__answer-label:last-child {
    margin-right: 0;
}

.question__answer-label:focus-within {
    outline: 2px solid #4d5b9e;
    outline-offset: 2px;
}

.question__answer-label.answer-checked {
    background: #d6dbf5; /*lite blue for answer checked*/
}

.question__answer-label.answer-correct {
    background: #94D7A2 !important; /*green for incorrect*/
}

.question__answer-label.answer-incorrect {
    background: #F8BCBC !important; /*red for incorrect*/
}

@media (min-width: 600px) {
    .question__answer-label {
        padding: .25em 1.25em;
        font-size: 1rem;
    }
}

.question__answer-input[type='radio'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.question__answer-input[type='radio']:focus + .quiz-screen__label,
.question__answer-label:has(input[type='radio']:focus) {
  outline: 2px solid #4d5b9e;
  outline-offset: 2px;
}

.question__answers {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;

}